@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --bg-color: #24283b;
    --fg-color: #c0caf5;
    --bg-black: #1d202f;
    --border-color: #414868;
    --accent-red: #f7768e;
    --accent-yellow: #e0af68;
    --accent-green: #9ece6a;
    --accent-cyan: #7dcfff;
    --accent-blue: #7aa2f7;
    --accent-magenta: #bb9af7;
}

.topnav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-black);
    padding: 0px;
    border-bottom: 3px solid var(--border-color);
}


body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
}

.footer {
    align-items: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-black);
    padding: 0px;
    padding-left: 2%;
    text-align: left;
    color: var(--fg-color);
    border-top: 3px solid var(--border-color);
}

a {
    background: none;
    color: var(--fg-color);
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    color: var(--fg-color);
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
}

.dropdown-content { /* Hide the dropdown links by default */
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a { /* Style the links inside the dropdown */
    background-color: var(--border-color);
    color: var(--fg-color);
    padding: 4px 4px 6px 8px; /* up right down left */
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { /* Change color of dropdown links on hover */
    background-color: var(--border-color);
}

.dropdown:hover .dropdown-content { /* Show the dropdown menu on hover */
    display: block;
}